{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.40 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.40 | round: 0 }}px;
  }
  @media screen and (min-width: 751px) and (max-width: 991px){
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.65 | round: 0  }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.65 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="review_list_section">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="review_heading">
      <div class="review_title">
        <h3 class="h1">{{ section.settings.section_title }}</h3>
        <p>{{ section.settings.content_pra }}</p>
      </div>
      <div class="review_link">
        <a href="{{ section.settings.link_url }}">{{ section.settings.link_btn }}</a>
      </div>
    </div>
    <div class="review_list_item">
      {% for block in section.blocks %}
        <div class="review_box">
          <div class="review_name">
            <h3 class="review_name">
              {{ block.settings.customer_name }}
            </h3>
            <span class="review_reting">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"/></svg>
            </span>
          </div>
          <p>
            {{ block.settings.review_content }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Reviews Section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content_pra",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "link_btn",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name"
        },
        {
          "type": "textarea",
          "id": "review_content",
          "label": "Review Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews List"
    }
  ]
}
{% endschema %}
